In [62]:
import pandas as pd
from sklearn import linear_model
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer

In [63]:
train_df = pd.read_csv('../data/BikeRentalDaily_train.csv', delimiter=';')
test_df = pd.read_csv('../data/BikeRentalDaily_test.csv', delimiter=';')

df = pd.concat([train_df, test_df], ignore_index=True, sort=False)

df = df.drop('dteday', axis=1)
train_df = train_df.drop('dteday', axis=1)
test_df = test_df.drop('dteday', axis=1)

In [64]:
imp_most_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
train_df[:] = imp_most_freq.fit_transform(train_df)

In [65]:
train_df[:5]

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,leaflets,price reduction,casual,registered,cnt
0,154,2.0,0,6,0,5,1,1,24.8000,0.587133,53.12505,0.253121,991,0,898,4414,5312
1,685,4.0,1,11,0,4,1,2,12.8667,0.324492,93.06255,0.152987,601,0,320,5125,5445
2,368,1.0,1,1,0,2,1,1,6.0000,0.126275,66.18750,0.365671,549,0,89,2147,2236
3,472,2.0,1,4,1,1,0,1,26.5667,0.614925,84.25005,0.284829,740,0,1198,5172,6370
4,442,1.0,1,3,0,-1,0,2,20.5667,0.505046,113.37495,0.110704,773,1,3155,4681,7836

In [66]:
test_df[:5]

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,leaflets,price reduction,casual,registered,cnt
0,299,4.0,0,10,0,3,1,2,19.3667,0.472846,108.06255,0.148642,605,0,404,3490,3894
1,458,2.0,1,4,0,1,1,1,17.3565,0.427513,75.65220,0.312139,518,0,1208,4728,5936
2,687,4.0,1,11,0,6,0,1,13.0000,0.326383,81.81255,0.179729,766,0,1313,4316,5629
3,346,4.0,0,12,0,-1,1,1,9.5333,0.270196,NaN,0.063450,739,0,143,3167,3310
4,291,4.0,0,10,0,2,1,2,21.3000,0.522721,105.25005,0.110087,463,0,637,4111,4748

In [67]:
train_data = train_df.iloc[:, :17]
train_label = train_df.iloc[:, -1:]

test_data = test_df.iloc[:, :17]
test_label = test_df.iloc[:, -1:]

In [68]:
# Model building
reg_model_before_pp = linear_model.LinearRegression()

reg_model_before_pp.fit(train_data, train_label)

print(reg_model_before_pp.coef_)

[[ 1.88871062e-14 -9.87210313e-13 -3.06263690e-12 -2.88022210e-13
  -4.14828208e-13  5.67336705e-14 -2.57540598e-13 -4.42146850e-13
  -2.31542216e-14 -1.92639782e-13  2.99098853e-15 -8.83687451e-15
  -3.07046055e-16  1.53638205e-13  3.33333333e-01  3.33333333e-01
   6.66666667e-01]]